@charset "UTF-8";

body {
    background-color: #7DC0FA;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1D2D3B;
}

#principal {
    text-align: center;
    background-color: #1D2D3B;
    color: white;
}

h2 {
    color: #3D5E7A;
}

.basico {
    color: #3D5E7A;
    font-weight: bold;
}

.intermediario {
    color: #7a793d;
}

.avancado {
    color: #7a3d3d;
}

.destaque {
    background-color: #ffff0034;
}