@charset "UTF-8";
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
    color: blue;
}
h1 {
    color: maroon;
    background-color: goldenrod;
}
h2 {
    color: darkred;
}
p {
    text-align: justify;
}