@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/*font-family: 'Passion One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive;*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding-top: 35px;
    background-color: black;
    color: white;
    text-align: center;
    height: 20vw;
}

header h1 {
    font-family: 'Passion One', cursive;
    font-weight: 400;
    font-size: 10vw;
    margin: 0px;
    padding: 0px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

header a:hover {
    text-decoration: underline;
    color: bisque;
}

main {
    border: solid 2px black;
}

section {
    padding: 30px;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.315);
}

section p {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    font-weight: 400;
    padding: 50px 10px;
    line-height: 2em;
}

section.imagem-flor {
    padding-top: 65px;
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
}

p.paragrafo-flor {
    display: inline-block;
    padding: 10px;
    line-height: 2em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
}

section.imagem-cartas {
    padding: 95px 0 95px 30px;
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}

p.paragrafo-cartas {
    display: inline-block;
    padding: 10px;
    margin: 0;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}