@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
/*font-family: 'Passion One', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
/*font-family: 'Sriracha', cursive;*/

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    height: 20vw;
}

header h1 {
    font-family: var(--fonte2);
    font-weight: 400;
    font-size: 10vw;
    margin: 0px;
    padding-top: 50px;
    font-variant: small-caps;
}

header p {
    font-family: var(--fonte1);
    font-size: 0.8em;
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

header a:hover {
    text-decoration: underline;
}

main {
    border: solid 2px black;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section p {
    font-family: var(--fonte3);
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 2em;
    padding-bottom: 2em;
}

section.imagem-flor {
    background-image: url('imagens/background001.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.644);
}

p.paragrafo-flor {
    display: inline-block;
    padding: 10px;
    line-height: 2em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.164);
    color: white;
}

section.imagem-cartas {
    background-image: url('imagens/background002.jpg');
    background-attachment: fixed;
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 1px 1px 0px black;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.623);
}

p.paragrafo-cartas {
    display: inline-block;
    padding: 10px;
    margin: 0;
    line-height: 2em;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

footer {
    font-family: var(--fonte1);
    font-size: 1.2em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0;
}

footer p {
    margin: 0;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}