@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(-90deg, #9BC8D4, #B7D3EB);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #606a85;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #9BAAD4;
    text-align: center;
    text-shadow: 1px 1px 2px #606a85;
}

h2 {
    color: #B4B4F6;
}

p {
    text-align: justify;
}

